<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style2.css" >
</head>
<body>
    <form method="post" action="http://localhost:8080/<%= chatt._id %>?_method=patch">
        <div class="chat">
            <h3>From:</h3>
            <h4><%= chatt.from %></h4>
          
            <h3>To:</h3>
            <h4><%= chatt.to %></h4>
          
            <textarea name="newmsg" rows="10" cols="50"><%= chatt.msg %></textarea>
            <button type="submit">Submit</button>
          </div>
          

    </form>
     
</body>
</html>